.dashboard-container {
  display: flex;
  position: relative;
}

.projects-container {
  display: flex;
  flex-wrap: wrap; 
  width: 100%; 
}

.centered-content {
  flex: 1; 
  margin-top: 120px;
  padding-left: 200px; 
  overflow-y: auto; 
  height: 800px;
  width: 1080px; 
  padding-right: 5px;
}

.centered-content::-webkit-scrollbar {
  width: 0px; 
}

.centered-content::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 5px;
}

.centered-content::-webkit-scrollbar-track {
  background-color: transparent;
}

.title {
  color: white;
}

.project-title {
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 785px;
}

.project-title button {
  margin-left: auto; 
  margin-top: 20px;
  width: auto;
  height: 40px;
  background: #ffffffb3;
  border: none;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  margin-right: 10px;
  font-size: 1em;
  color: #000000;
  font-weight: 500;
  padding: 0 15px;
  align-items: center;
  transition: background-color 0.5s, color 0.5s;
}

.project-title button:hover {
  background-color: #000000;
    color: white;
}

.project-title img {
  display: inline-block;
  height: 40px;
  width: 45px;
  padding-bottom: 5px;
  overflow: hidden;
  background-color: transparent;
}