.tasks-centered-content {
    margin-top: 100px;
    margin-left: 250px;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    width: 100%;
    color: white;
}

.tasks-content {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background: transparent;
    width: auto;
    min-width: 400px;
}

.task-row {
    display: flex;
}

.task-column {
    display: flex;
    min-width: 200px;
    min-height: 50px;
    flex-direction: column;
    flex-grow: 1; 
    margin: 30px;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.295);
    height: fit-content;
    overflow-y: 500px;
}

.task-row h3 {
    text-align: left;
    padding-left: 10px;
    color: rgb(255, 255, 255);
    padding-bottom: 5px;
}

.task-content h1 {
    text-align: center;
    color: #e7eaed;
    margin-bottom: 20px;
}

.task-content {
    border-radius: 20px;
    background: white;
    position: relative;
    margin: 10px;
    height: auto;
    width: auto;
    min-width: 190px;
    font-size: medium;
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
}

.task-content p {
    padding: 10px;
    color: #223756;
}

.task-content h1 {
    position: relative;
    text-align: left;
    width: 100%;
    background-color: rgba(255, 0, 0, 0.751);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    font-size: medium;
    color: white;
    margin: 0;
    padding: 10px;
    box-sizing: border-box;
}

.task-content button{
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.button-container-task {
    display: flex;
    padding: 10px;
    justify-content: space-between;
    margin-top: 10px;
}

.tasks-content .edit-button {
    margin-top: 20px;
    width: 100%;
    min-width: 200px;
    height: 60px;
    background: #e7eaed;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    margin-right: 10px;
    font-size: 1em;
    color: #000000;
    font-weight: 500;
    padding: 0 15px;
    align-items: center;
    transition: background-color 0.5s, color 0.5s;
}

.tasks-content .edit-button:hover {
    background-color: #000000;
    color: #e7eaed;
}